@import '/styles/variables.scss';

.section {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;
        // width: 30rem;
        padding: 1rem;
        // gap: 3rem;

        .header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .upper {
                font-size: $h3FontSize;
                font-weight: $h2FontWeight;
            }
            .lower {
                font-size: $bodyFontSize;
                font-weight: $h5FontWeight;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .btn_container {
            display: flex;
            justify-content: center;
        }
    }

} 