@import '/styles/variables.scss';

.container {
    .header {
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }
    .content {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        gap: 2rem;
        &_group {
            width: 50%;
            &_label {
                color: rgb(75, 75, 75);
                margin-bottom: 1rem;
            }
            &_checkbox {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
}