@import '/styles/variables.scss';

.container {
    color: black; 
    button {
        border: none;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        margin-bottom: 1.5rem;
        font-size: $h4FontSize;
        font-weight: $h1FontWeight;
        text-transform: uppercase;
        .edit_icon {
            color: $color--primary;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        gap: 2rem;
        &_group {
            width: 50%;
            &_label {
                margin-bottom: 1rem;
                font-weight: $h3FontWeight;
            }
            &_detail {
                justify-content: flex-end;
            }
            &_checkbox {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                &_label {
                    font-size: $bodyFontSize; 
                    color: rgb(140, 140, 140);
                }
            }
        }
    }
    .footer {
        margin-top: 1rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}