@import '/styles/variables.scss';

.container {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 0.5rem;

    .buttons {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .button {
            background: none;
            border: none;
            color: rgb(163, 163, 163);
        }
    }
}