@import '/styles/variables.scss';

.container {

    .toggleBtn {

    }

    .title {
        width: 50%;
    }

    .buttons {
        width: 50%;
        
        .min_btn {
            background-image: ;
        }
    }

}