@import '/styles/variables.scss';

.container {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 1.1rem 1rem;

    .buttons {
        display: flex;
        align-items: center;
        gap: 1rem;

        .button {
            background: none;
            border: none;
            color: rgba(0, 0, 0, 0.363);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.7s;
            
            &:hover {
                color: $color--darkblue;
                transform: scale(1.1) translateY(-2.5px);
                cursor: pointer !important;
            }
        }
    }
}
