@import '/styles/variables.scss';

.outer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;

    .inner_container {
        display: flex;
        align-items: center;
        width: 80%;
        background-color: aquamarine;
    }
}