@import '/styles/variables.scss';

.section {
    padding: 1rem;
    display: flex;
    justify-content: center;

    .container {
        color: rgba(44, 44, 44, 0.658);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .left {

            .upper {
                font-size: $body2FontSize;
                font-weight: 700;
            }

            .lower {
                font-size: $bodyFontSize;
                font-weight: 800;
            }
        }

        .right {
            font-size: 1.3rem;
            font-weight: 900;

            &:hover {
                cursor: pointer;
            }
        }

        &:hover {
            color: black;
        }
    }
}