@import '/styles/variables.scss';

.section {
    // padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    .container {
        color: $color--blue2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        transition: translateY 1s;

        .left {

            .upper {
                font-size: $body2FontSize;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                }
            }

            .lower {
                font-size: $bodyFontSize;
                font-weight: 700;

                &:hover {
                    cursor: pointer;
                }
            }

            &:hover {
                transform: translateY(-0.2rem);
            }
        }

        .right {
            font-size: $h5FontSize;
            font-weight: 700;

            &:hover {
                cursor: pointer;
                transform: translateY(-0.2rem);
            }
        }

        &:hover {
            transition: 1s ease-in-out;
            color: $color--darkblue;
        }
    }
}