@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 70vh;
    padding: 1rem;
    button {
        border: none;
    }
}
