@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 70vh;
    button {
        border: none;
    }
    .header{
        color: white;
        background-color: black;
        padding: 1rem;
        text-align: center;
        font-size: $h5FontSize;
        font-weight: $h4FontWeight;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        .group {
            &_label {
                color: rgb(81, 81, 81);
                margin-bottom: 1rem;
                font-weight: $h5FontWeight;
            }
            &_textfields {
                display: flex;
                gap: 1rem;
            }
        }
    }
    .footer {
        padding: 1rem;
        align-self: flex-end;
    }
    
}
