@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 70vh;
    button {
        border: none;
    }
    .header{
        color: white;
        background-color: black;
        padding: 1rem;
        text-align: center;
        font-size: $h5FontSize;
    }
}
