@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: fit-content;
    button {
        border: none;
    }
    .header{
        color: white;
        background-color: black;
        padding: 1rem;
        text-align: center;
        font-size: $h5FontSize;
        font-weight: $h4FontWeight;
    }
    .content_outer {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        .content_inner{
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 10rem;
            &_left {
                padding: 1rem;
                background-color: rgb(230, 230, 230);
            }
            &_right {
                padding: 1rem;
                background-color: rgb(214, 214, 214);
            }
            &_group {
                &_name {
                    font-size: $h5FontSize;
                    font-weight: $h5FontWeight;
                }
                &_label {
                    color: gray;
                }
            }
        }
    }
    .footer {
        padding: 1rem;
        align-self: flex-end;
    }
    
}
