@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: fit-content;
    button {
        border: none;
    }
    .header{
        color: white;
        background-color: black;
        padding: 1rem;
        text-align: center;
        font-size: $h5FontSize;
        font-weight: $h4FontWeight;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem;
        .row_group {
            display: flex;
            flex-direction: column;
            &_name {
                font-size: $h5FontSize;
                font-weight: $h4FontWeight;
            }
            &_label {
                color: gray;
                font-weight: $bodyFontWeight;
            }
            &_content {
                display: flex;
                &_left {

                }
                &_right {
                    
                }
            }
        }
    }
    .footer {
        padding: 1rem;
        align-self: flex-end;
    }
    
}
