@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .header {
        padding: 0 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: $h4FontSize;
        font-weight: $h1FontWeight;
        .left {
            display: flex;
            align-items: center;
            .add_btn {
                color: $color--green;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .right {
            display: flex;
            gap: 1rem;
        }
    }
    .table {
        overflow-y: scroll;
        // flex: 1;
        height: 70vh;
        .modal {
            .close_btn {
                position: absolute;
                color: rgba(0, 0, 0, 0.6);
                font-weight: 700;
                padding: 1rem;
                &:hover {
                    transform: scale(1.3);
                    cursor: pointer;
                }
            }
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        .print_btn_container {
            display: flex;
            justify-content: left;
            align-items: center;
            flex: 1;
            .print_btn {
                transition: all 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: translateY(-3px);
                    color: $color--primary;
                }
            }
        }
    }
}