@import '/styles/variables.scss';

.container {
    height: 100%;
    box-shadow: 1px 1px 6px rgb(75, 74, 74);
    position: relative;
    .header {
        display: flex;
        align-items: center;
    }
    .table {
        height: 80%;
    }
}