.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    .title_bar {
        width: 100%;
        position: sticky;
        top: 0;
        height: fit-content;
        background: none;
    }
    .content {
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        flex: 1;
    }
}