.content {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    position: relative;
    .toggle_group {
        display: flex;
        justify-content: center;
        background: none;
    }
}
