@import '/styles/variables.scss';

.button {
    display: block;
    width: 10rem !important;
    background-color: $color--maroon;
    width: fit-content;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    font-size: $body2FontSize;
    font-weight: $h2FontWeight;

    &:hover {
        cursor: pointer;
    }
}