@import '/styles/variables.scss';

.container {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
            font-size: $h4FontSize;
        }
        .content {
            margin: 2rem 0;
            font-size: $captionFontSize;
            color: red;
            .header {
                font-weight: $h2FontWeight;
            }
        }
        .footer {
            display: flex;
            align-self: flex-end;
        }
    }
}